.item__wrapper {
    padding: 20px;
    border: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}
.item__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item__description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}